:root {
  --swiper-scrollbar-bottom: 0;
  --swiper-scrollbar-sides-offset: 0%;
  --swiper-scrollbar-bg-color: var(--color-gray-300);
  --swiper-scrollbar-drag-bg-color: var(--color-gray-700);
}

.swiper-scrollbar {
  cursor: pointer !important;
}

.swiper-slide {
  width: auto !important;
}
