@import "tailwindcss";

@import "./styles/_colors.css";
@import "./styles/_typography.css";
@import "./styles/_breakpoints.css";
@import "./styles/_media-queries.css";

:root {
  --background-1: #f7f7f7;
  --background-2: #eeeeee;
}

body {
  background: linear-gradient(
    to right,
    var(--background-2) 0%,
    var(--background-2) 30%,
    var(--background-1) 30%,
    var(--background-1) 100%
  );
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;

  @media (--md) {
    background: linear-gradient(
      to right,
      var(--background-2) 0%,
      var(--background-2) 40%,
      var(--background-1) 40%,
      var(--background-1) 100%
    );
  }
}

@theme {
  --max-width-container: 1200px;
  --container-padding: 16px;
}

.container {
  max-width: var(--max-width-container);
  padding-inline: var(--container-padding);
}
