@import "tailwindcss";

@import "./styles/_colors.css";
@import "./styles/_typography.css";
@import "./styles/_breakpoints.css";
@import "./styles/_media-queries.css";

:root {
  --background-1: #f7f7f7;
  --background-2: #eeeeee;
}

body {
  background: linear-gradient(
    to right,
    var(--background-2) 0%,
    var(--background-2) 20%,
    var(--background-1) 20%,
    var(--background-1) 100%
  );
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;

  @media (--md) {
    background: linear-gradient(
      to right,
      var(--background-2) 0%,
      var(--background-2) 35%,
      var(--background-1) 35%,
      var(--background-1) 100%
    );
  }
}

@theme {
  --max-width-container: 1200px;
  --container-padding: 16px;
}

.container {
  max-width: var(--max-width-container);
  padding-inline: var(--container-padding);
  margin: auto;
}

.tile {
  background: var(--color-white);
  padding: 36px;
  border-radius: 4px;

  --tw-shadow:
    0 4px 6px -1px var(--tw-shadow-color, #0000001a),
    0 2px 4px -2px var(--tw-shadow-color, #0000001a);
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

button {
  cursor: pointer;
}
